<!doctype html>

<html>
<head>

<meta charset="utf-8" />
<title>RAYVID</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- My custom styles  -->
<link href="static/css/custom.css" rel="stylesheet">

<!-- Modal style sheet  -->
<link href="static/css/modal.css" rel="stylesheet">

<!-- General styles -->
<link href="static/css/styles.css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="static/js/jquery.filedrop.js"></script>
<script type="text/javascript" src="static/js/upload.js"></script>
<script type="text/javascript" src="static/js/submit.js"></script>
<script type="text/javascript" src="static/js/hover.js"></script>
<script type="text/javascript" src="static/js/jquery.fileDownload.js"></script>
<script src="http://jwpsrv.com/library/m26HJB26EeSKviIACyaB8g.js"></script>
<script type="text/javascript" src="static/js/display.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
     var url = "{{url}}";

     window.onload = function() {
       if("{{source}}" == "root") {
          window.location = "#agreement";
       } else if (url.split("_").length > 1) {
          document.getElementById("delete-container").style.display="block";     
       } 
     };
</script>

</head>

<body>
  <a href="#x" class="overlay" id="agreement"></a>
  <div class="popup">
    <h2>User Agreement</h2>
    <br><p>RAYVID is committed to patient safety and privacy. The RAVID website is a communication tool for medical professionals, but should not be used by itself to make clinical decisions. It is the user's responsibility to ensure that no patient protected information is uploaded to the RAYVID website. Uploaded content is either deleted by the user after viewing or automatically by the application 24 hours after it is uploaded. It is the user's responsibility to manage links provided by the RAYVID website accordingly.</p><br>
    <a class="btn btn-lg btn-primary" id="agreeButton" role="button" href="#" >I AGREE</a>
  </div>

  <a href="#x" class="overlay" id="about"></a>
  <div class="popup">
    <h2>About</h2>
    <br><p>RAYVID is a communication tool for medical professionals. Its primary intended use is for radiologists to share anonymized screen capture videos of radiology findings with other physcians and patients. Beyond this, the service can be used to share other anonymized medical-related communications. To help protect patient privacy, all uploaded content is deleted within 24 hours or directly by the user.</p><br>
    <a class="close" href="#"></a>
  </div>

  <a href="#x" class="overlay" id="contact"></a>
  <div class="popup">
    <h2>Contact</h2>
    <br><p>For more information, please contact the developer of RAYVID, Jason Balkman, MD, directly: mooscans@gmail.com</p><br>
    <a class="close" href="#"></a>
  </div>

  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RAYVID (Radiology Video Reporting Tool)</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#agreement">User Agreement</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Breast Imaging Examples <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#" id="example-1">80 y/o woman with L breast multifocal architecutral distortion</a></li>
                  <li><a href="#" id="example-2">56 y/o woman with L breast small sub-cm mass</a></li>
                  <li><a href="#" id="example-3">78 y/o woman with R breast mass</a></li>
                  <li><a href="#" id="example-4">51 y/o woman with BRCA mutation</a></li>
                  <li><a href="#" id="example-5">65 y/o woman with L breast palpable s/p lumpectomy</a></li>
                </ul>
              </li>
	    </ul>
          </div>
        </div>
      </div>    
    </div>
  </div>
    
  <div class="container marketing">
    <hr class="featurette-divider"> 
    <div class="col-md-8 col-md-offset-2">    
      <div id="myVideoPlayer" class="center-block">Loading the player...</div>
      <script type="text/javascript">
	jwplayer("myVideoPlayer").setup({
     	    //file: "{{url}}",
     	    file: url,
 	    autostart: false,
	    image: "/content/IntroImage.jpg",
	    width: 800,
	    height: 450,
	    events: {
                onComplete:function() {
	          /*$.get("/delete", { delurl:"{{url}}" },
	                 function() {
                         //alert (data);
	          });*/
                }
            }
        });
      </script><br>
    </div>
  </div>

  <div id="delete-container" class="span7 text-center" style="display:none">
    <br><br><a class="btn btn-lg btn-primary" id="deleteButton" role="button">DELETE VIDEO</a>
  </div>

  <div id="download-container">
    <hr class="featurette-divider"> 
      <div class="span7 text-center"><h3>Downloadable Test Files (download, then drag and drop into the container below)</h3></div>
      <div class="row">
	<div class="col-md-3 col-md-offset-3"><h4>Test Video 1</h4></div>
	<div class="col-md-3"><h4>Test Video 2</h4></div>
      </div>
      <div class="row">
	<div class="col-md-3 col-md-offset-3">
	  <a href="/content/Video1.zip" class="predownload" title="Video Report 1" id="/content/VideoPreview1.jpg">
	    <img src="/content/VideoPreview1.jpg" width="100" height="100" alt="gallery thumbnail"/></a>
	</div>
	<div class="col-md-3">
	  <a href="/content/Video2.zip" class="predownload" title="Video Report 1" id="/content/VideoPreview2.jpg">
	    <img src="/content/VideoPreview2.jpg" width="100" height="100" alt="gallery thumbnail"/></a>
	</div>
      </div>
  </div>

<div class="container marketing">
    <div id="url-container" class="span7 text-center" style="display:none"> 
      <hr class="featurette-divider"> 
      <h2><b><span class="secret-url"></span></b></h2>
      <div class="span7 text-center">    
	<h4><br><br><br>INSTRUCTIONS & AGREEMENT<br><br><br>Cut & paste the link above.<br><br><br>
	  I take full responsibility for the potential release of any health protected information in this video.<br><br><br>
	If the video is not deleted directly by the viewer, the link will automatically expire and its content expunged permanently within 24 hours.<br><br><br></h4>
      </div>
      <br><br><a class="btn btn-lg btn-primary" id="okButton" role="button">GOT IT</a>
    </div>
</div>
  
<div class="container marketing">
    <hr class="featurette-divider"> 
    <div class="span7 text-center">    
      <h3>Drop any video below and receive a video link to include in your radiology report.</h3>
     </div>
</div>

<div id="dropbox-container">
  <div id="dropbox">
    <span class="message">Drop videos here to upload.</span>
  </div>      
</div>

<div class="span7 text-center">
  <form class="form-inline">
    <input id="vwdel" type="checkbox" checked="checked">
    <label class="checkbox inline" for="vwdel">Viewer Delete</label><br>
    <input id="exdel" type="checkbox">
    <label class="checkbox" for="exdel">24-hour Expiration</label>
  </form>
</div>

<!-- /END THE FEATURETTES -->
  
  <!-- FOOTER -->
  <div class="container marketing">
    <hr class="featurette-divider">
    <div class="span7 text-center">   
      <footer>
	<p class="pull-right"><a href="#">Back to top</a></p>
       <p>&copy; 2014 MOO Scans &middot; <a href="#agreement">Privacy</a> &middot; <a href="#agreement">Terms</a></p>
      </footer>
    </div><!-- /.container -->
  </div>
</body>
</html>
